@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fdf7e9;
  --foreground: #ecb365;
  --primary: #2a4d69;
  --secondary: #5591b9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #041c32;
    --foreground: #2a4d69;
    --primary: #ecb365;
    --secondary: #a2d2ff;
  }
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--foreground) var(--background);
}
